body {
    background-color: salmon;
    text-align: center;
}


/* need to create 3x3 board  */

#container {
    margin-left: 65em;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
}



.grid {
    cursor: pointer;
    border: 1px solid beige;
}

